---
interface Props {
  data: CollectionEntry<"posts">["data"];
}
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { fade } from "astro:transitions";
const { data } = Astro.props;
const tags: string[] = data.tags || [];
---

<BaseLayout pageTitle={data.title}>
  <p>{data.pubDate.toString().slice(0, 10)}</p>
  <p transition:animate={fade({ duration: "2s" })}>
    <em>{data.description}</em>
  </p>
  <p>Written by: <a href="/about">{data.author}</a></p>
  <img src={data.image.url} width="300" alt={data.image.alt} />
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
